<% if card.present? %>
  <div class="card text-center">
    <div class="card-header">
      <%= t('.template.header.title') %><%= card.id %>
    </div>
    <div class="card-block">
      <%= image_tag(card.image_url) %>
      <h4 class="card-title">
        <%= card.translated_text %>
      </h4>
      <%= simple_form_for(card, as: :card, wrapper: :vertical_form,
                          url: dashboard_create_translation_check_path,
                          remote: true,
                          method: :post, html: { id: 'translation_check' }) do |form| %>
        <%= form.input :id, as: :hidden %>
        <%= form.input :answer_time, as: :hidden_fake,
                       input_html: { id: 'card_answer_time',
                                     name: 'card[answer_time]',
                                     value: 0 } %>
        <%= form.input :text_to_check, as: :fake,
                       input_html: { id: 'card_text_to_check',
                                     name: 'card[text_to_check]' } ,
            label: t('translation_check.form.labels.text_to_check'),
            required: true %>
        <%= form.button :submit,
                        t('dashboard.translation_check.form.labels.check_btn') %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <small>
        <%= Card.human_attribute_name(:review_date) %>:
        <%= formatted_date(card.review_date) %>
      </small>
    </div>
  </div>
<% end %>