<% if card.present? %>
  <% show_del_link ||= false %>
  <div class="card text-center">
    <div class="card-header">
       <%= t('.template.header.title') %><%= card.id %>
    </div>
    <div class="card-block">
      <%= image_tag(card.image_url) %>
      <h4 class="card-title">
        <%= link_to card.original_text, card_path(card) %>
      </h4>
      <%= link_to t('.template.edit.btn'), edit_card_path(card),
                  class: 'btn btn-primary' %>
      <% if show_del_link %>
        <%= link_to t('.template.delete.btn'), card_path(card), method: :delete,
          data: { confirm: t('.template.delete.confirm') },
          class: 'btn btn-danger' %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <small>
        <%= Card.human_attribute_name(:review_date) %>:
        <%= formatted_date(card.review_date) %>
      </small>
    </div>
  </div>
<% end %>