<!DOCTYPE html>
<html>
  <head>
    <title><%= t('header.title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navigation' %>
    <%= render partial: 'layouts/header' %>
    <div class="container">
      <div id="flash-messages">
        <%= render partial: 'layouts/flash_messages' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
